<shell title="Groups">
    <md-button>refresh</md-button>
</shell>


<div class="">
    <p>We found {{aNumber}} groups, you can join! </p>
    <md-card ng-repeat="i in [] | range: aNumber">
        <md-card-title style="cursor: pointer;">
            <md-card-title-text class="no-outline" ng-click="vm.navigateToResume(cv, $index)">
                <span class="md-headline">Group #{{i+1}}</span>
                <span class="md-subhead">2 players are going</span>
            </md-card-title-text>
            <div style="border-radius:  100%; width: 75px; height:75px; background-color: rgba(173, 216, 230, 0.72); color: black; font-size:20pt; margin-top: -11px;" layout layout-align="center center">{{(60*aNumber*aNumber*aNumber+3*i)%100 | number : 0}}%</div>
        </md-card-title>

        <md-card-content layout="column" layout-align="space-between">
            <div class="md-media-md card-media" layout="column">
                <p>Invited Players: 6</p>
                <p>Date: Sunday, 5PM (in 2 days)</p>
                <p>Location: Rengstorff Park</p>
            </div>
            <md-card-actions layout="row" layout-align="end center">
          <md-button>Show more</md-button>
          <md-button>Join</md-button>
        </md-card-actions>
        </md-card-content>
    </md-card>

</div>