<md-dialog flex="70" aria-label="join a game">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Passed Game</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                x
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            Give others some feedback
            <md-list>
                <div ng-repeat="role in roles">
                    <md-subheader class="md-sticky" style="background-color: white">{{role | ucfirst}}</md-subheader>
                    <div ng-repeat="person in game[role]" layout="column">
                        <md-list-item class="md-2-line secondary-button-padding">
                            <div layout="row">
                                <img src="{{imgUrl}}" class="md-avatar" alt="" />
                                <div class="md-list-item-text">
                                    <h3>{{ person.name }}</h3>
                                    <p></p>
                                    <md-button class="md-secondary" ng-show="!person.feedbackSend"  ng-click="person.showFeedback=!person.showFeedback"><i class="fa fa-chevron-up"></i></md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <div ng-show="person.showFeedback">
                            <div ng-repeat="feedback in feedbackOptions">
                                <div layout="row" layout-align="start center">
                                    <span flex="20"></span>
                                    <span flex="15"> <md-button layout layout-align="center center" md-theme="altTheme" class="md-fab md-mini md-primary" ng-style="getStyle(person, feedback)" aria-label="{{feedback}}" ng-click="updateFeedback(person, feedback)" class="md-fab md-primary">
                                    <i class="{{feedback.icon}} fa-2x"></i>
                                    </md-button>
                                </span>
                                    <span flex>{{feedback.info}}</span>
                                </div>
                            </div>
                            <!--<md-input-container class="md-block">
                                <label>Comment</label>
                                <textarea ng-model="comment"></textarea>
                            </md-input-container>-->
                        </div>
                        <md-divider></md-divider>
                    </div>
                </div>
            </md-list>

        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-accent md-raised" ng-click="answer()" style="margin-right:20px;">
            Save
        </md-button>
        <md-button class="md-raised" ng-click="hide()" style="margin-right:20px;">
            close
        </md-button>
    </md-dialog-actions>
</md-dialog>