.card-icon {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    background-color: #FDC70C;
    color: black;
    font-size: 20pt;
    margin-top: -11px;
}

.time-middle {
    position: relative;
    top: -8px;
    min-width: 2px;
}