<shell>
    <md-button class="md-fab md-primary menuHeader md-mini" ng-click="refresh()"><i class="fa fa-refresh fa-15x"></i></md-button>
</shell>

<md-content md-theme="default" style="background-color: rgb(240, 240, 250);" layout="column" flex>

    <md-button ng-if="user.is_mentor" ng-click="newGameDialog()">Host New Game</md-button>
    <div layout="column">
        <div layout="column" layout-margin>
            <md-card ng-repeat="game in games">
                <md-subheader ng-show="!game.joined">Upcoming Game</md-subheader>
                <md-subheader style="background-color: lightgreen" ng-show="game.joined">Upcoming Game</md-subheader>
                <md-card-title style="cursor: pointer;">
                    <md-card-title-text class="no-outline">
                        <span class="md-headline">{{game.name}}</span>
                        <span class="md-subhead">{{game.mentors.length}} Mentors and {{game.players.length}} Players are going</span>
                    </md-card-title-text>
                    <div class="card-icon" layout layout-align="center center"><i class="fa fa-users"></i></div>
                </md-card-title>

                <md-card-content layout="column" layout-align="space-between">
                    <div class="md-media-md card-media" layout="column">
                        <span><i class="fa fa-user"></i>  Estimated Players: {{game.estimated_players}}</span>
                        <p><i class="fa fa-calendar"></i> Date: {{game.date | beautifyDate}}</p>
                        <span><i class="fa fa-map-marker"></i>  Field: {{game.location}}</span>
                    </div>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="showGameDialog(game)"> <i class="fa fa-info"></i> details</md-button>
                        <md-button ng-click="joinGame(game)">
                            <span ng-show="!game.joined"> <i class="fa fa-check"></i> join</span>
                            <span ng-show="game.joined"><i class="fa fa-times"></i> leave</span></md-button>
                    </md-card-actions>
                </md-card-content>
            </md-card>


            <!--PASSED-->
            <md-card ng-repeat="game in passed">
                <md-subheader ng-show="!game.joined">Passed Game</md-subheader>
                <md-subheader style="background-color: lightgreen" ng-show="game.joined">Upcoming Game</md-subheader>
                <md-card-title style="cursor: pointer;">
                    <md-card-title-text class="no-outline">
                        <span class="md-headline">{{game.name}}</span>
                        <span class="md-subhead">2 Mentors and 8 Players are going</span>
                    </md-card-title-text>
                    <div style="border-radius:  100%; width: 75px; height:75px; background-color: #FDC70C; color: black; font-size:20pt; margin-top: -11px;" layout layout-align="center center"><i class="fa fa-users"></i></div>
                </md-card-title>

                <md-card-content layout="column" layout-align="space-between">
                    <div class="md-media-md card-media" layout="column">
                        <p><i class="fa fa-calendar"></i> Date: {{game.date | beautifyDate}}</p>
                        <span><i class="fa fa-map-marker"></i>  Field: {{game.location}}</span>
                    </div>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="showFeedbackDialog(game)"><i class="fa fa-thumbs-up"></i> give feedback</md-button>
                    </md-card-actions>
                </md-card-content>
            </md-card>
        </div>

    </div>


</md-content>