<md-dialog aria-label="join a game">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Upcoming Game</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                x
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h2>{{game.name}}</h2>
            <div layout="column">
                <!--<span><i class="fa fa-user"></i>  Invited Players: {{game.estimated_players}}</span>-->
                <p><i class="fa fa-calendar"></i> Date: {{game.date | beautifyDate}}</p>
                <span><i class="fa fa-map-marker"></i>  Location: {{game.location}}</span>
            </div>
            <br>
            <p>See who will join</p>
            <md-list>
                <div ng-repeat="role in ['mentors', 'players']">
                    <md-subheader class="md-sticky" style="background-color: white">{{role | ucfirst }}</md-subheader>
                    <div ng-repeat="person in game[role]" layout="column">
                        <md-list-item class="md-2-line secondary-button-padding">
                            <div layout="row">
                                <img ng-src="{{imgUrl}}" class="md-avatar" alt="" />
                                <div class="md-list-item-text">
                                    <h3>{{ person.name }}</h3>
                                    <p></p>
                                    <md-button class="md-secondary" ng-click="showPersonDetails(person)"><i class="fa fa-chevron-down"></i></md-button>
                                </div>
                            </div>
                        </md-list-item>
                        <div ng-show="person.showMore">
                            <p>{{person.profile.introduction}}</p>
                            <section> <i class="fa fa-language"></i> Speaks: {{person.profile.languages.join(",")}}</section>
                            <section>Skill Level: {{person.profile.skill_level}}/5
                            </section>
                        </div>
                    </div>
                </div>
            </md-list>
            <md-input-container class="md-block">
                <label>leave a comment</label>
                <textarea ng-model="comment"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()" style="margin-right:20px;">
            close
        </md-button>
    </md-dialog-actions>
</md-dialog>