<shell title="Groups">
    
</shell>

<md-content>
    <div layout="column" layout-margin>
        <div layout="row" layout-align="center center" layout-margin>
            <img width="100px" height="100px" layout-margin ng-src="{{imgUrl}}" class="profile-avatar" />
            <h1>Hey {{profile.name}}!</h1>
        </div>

        <md-card layout="column">
            <h4>Your Soccer Profile</h4>
            <div layout="row" layout-margin class="md-primary">
                <label>Skill Level</label>
                <i ng-repeat="s in [] | range: max_skill_level" style="color: orange" ng-class="{true: 'fa fa-2x fa-star', false: 'fa fa-2x fa-star-o'}[s<profile.skill_level]" ng-click="profile.skill_level=s+1"></i>
                <!--starts from 0 -->
            </div>
            <div layout="row" layout-align="start center" layout-margin>
                <label>Position</label>
                <md-input-container flex>
                    <md-select ng-model="profile.positions" multiple>
                        <md-option ng-value="pos" ng-repeat="pos in positions">{{pos}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-card>

        <md-card flex="none">
            <h4>Contact</h4>
            <div layout="row" layout-align="start start" layout-margin>
                <i class="fa fa-phone fa-1x"></i>
                <md-input-container>
                    <label>Phone</label>
                    <input ng-model="profile.phone" type="text">
                </md-input-container>
            </div>
            <div layout="row" layout-align="start start" layout-margin>
                <i class="fa fa-envelope fa-1x"></i>
                <md-input-container>
                    <label>E-Mail</label>
                    <input ng-model="profile.email" type="text">
                </md-input-container>
            </div>

        </md-card>

        <md-card flex="none">
            <h4>Personal</h4>
            <md-input-container class="md-block">
                <label>Introduction</label>
                <textarea ng-model="profile.introduction" md-maxlength="150" rows="5" md-select-on-focus placeholder="Find out what interests you have in common with other players: English conversation, Developer/coding skills, Academic preparedness, College readiness, Job coach. Do you have any special needs?  Link with Facebook, Google+,etc."></textarea>
            </md-input-container>

            <div layout="row" layout-align="start start" layout-margin>
                <i class="fa fa-female"></i>
                <i class="fa fa-male"></i>
                <md-input-container>
                    <label>Gender</label>
                    <md-select ng-model="profile.sex">
                        <md-option ng-value="sex" ng-repeat="sex in ['male', 'female', '-']">{{sex}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" layout-align="start start" layout-margin>
                <i class="fa fa-language"></i>
                <md-input-container>
                    <label>Languages</label>
                    <md-select ng-model="profile.languages" multiple>
                        <md-option ng-value="lang" ng-repeat="lang in languages">{{lang}}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" layout-align="start start" layout-margin>
                <i class="fa fa-map-marker"></i>
                <md-input-container>
                    <label>ZIP Code</label>
                    <input name="postalCode" ng-model="profile.zip_code" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                </md-input-container>
                <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">You must supply a postal code.</div>
                    <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                    </div>
                </div>
            </div>

        </md-card>


        <md-card>
            <h4>Availability</h4>
            <div layout="row" layout-align="center center" layout-wrap>
                <md-button md-no-ink ng-repeat="day in profile.timetable" md-theme="altTheme" class="md-fab md-mini md-primary" ng-style="getStyle(day)" aria-label="available {{day}}" ng-click="updateDay(day)">
                    <bold>{{firstLetter(day.day)}}</bold>
                </md-button>
            </div>

        </md-card>
        
        <md-cards>
        <div layout="row" layout-align="start start" layout-margin>
                <i class="fa fa-language"></i>
                <md-input-container>
                    <label>Share</label>
                    <md-select ng-model="profile.offer" multiple>
                        <md-option ng-value="of" ng-repeat="of in offers">{{of}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-cards>

        <md-card>
            <h4>Special Needs</h4>
            <md-input-container>
                <textarea rows="3"></textarea>
            </md-input-container>
        </md-card>



        <section>
            <h4>Search</h4>
            <p>Looking for similar players.</p>
        </section>
            
            <md-button class="md-raised saveButton" ng-click="save()"><i class="fa fa-floppy-o"></i>Save</md-button>

    </div>
</md-content>